@{
    ViewBag.Title = "Start planning your perfect walk in the open";
}

    <div class="row">
        <div class="col-6">
            <img src="~/images/cotswolds.jpg" style="width: 500px;" />
            <h3>Cotswolds walking</h3>
            <ul>
                <li>Place: Cotswolds</li>
                <li>Walk: Circular</li>
                <li>Sights: countryside, small villages</li>
            </ul>
            <!--<button class="btn btn-success">View</button>-->
        </div>
        <div class="col-6">
            <img src="~/images/bench.jpg" style="width: 500px;" />
            <h3>Taking a break</h3>
            <ul>
                <li>Place: Cotswolds walk break points</li>
                <li>Distance: 5km from start</li>
                <li>Local amenities: cafe</li>
            </ul>
            <!--<button class="btn btn-success">View</button>-->
        </div>
    </div>

