@{
    ViewBag.Title = "For people who love benches";
}

<div class="row">
    <div class="col-12">
        <img class="img-fluid banner-image" src="~/images/nightBench.jpg" />
    </div>
</div>

<div class="blog-posts">
    <div class="row">
        <div class="col-12"><h2>Recent Posts</h2></div>
        <div class="col-4">
            <img class="img-fluid" src="~/images/garden.png" />
            <div class="post-content">
                <h4>Building a bench</h4>
                <p>My dad built two beautiful benches over the course of a summer. Careful planning was key. Now they are the centerpiece of the garden.</p>
                <!--<button class="btn btn-success">View</button>-->
            </div>
        </div>
        <div class="col-4">
            <img class="img-fluid banner-image" src="~/images/hike.jpg" />
            <div class="post-content">
                <h4>A bench to rest at while hiking in the mountains</h4>
                <p>We found this bench on a cold November morning, while hiking in the Vitosha mountain. The bench has an inscription inviting people to rest on it and reflect.</p>
                <!--<button class="btn btn-success">View</button>-->
            </div>
        </div>
        <div class="col-4">
            <img class="img-fluid" src="~/images/special.png" />
            <div class="post-content">
                <h4>A bench to remember</h4>
                <p>For some people benches are a special place to meet, spend time with friends and family and enjoy the outdoors.</p>
                <!--<button class="btn btn-success">View</button>-->
            </div>
        </div>
        <div class="col-12">
            <div class="more-posts-btn">
                <a asp-controller="Explore" asp-action="Explore" class="btn btn-danger" role="button">Explore recent posts</a>
            </div>
        </div>
    </div>
</div>

