@model  WalkModel
@{ 
     ViewBag.Title = "Submit Walk";
}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card card-body bg-light">
            <form method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="WalkName">Walk name:</label>
                    <input type="text" asp-for="WalkName" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="SubmittedBy">Submitted by:</label>
                    <input type="text" asp-for="SubmittedBy" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Description">Description</label>
                    <textarea rows="6" asp-for="Description" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <label asp-for="UploadedImage">Upload Image:</label>
                    <input type="file" asp-for="UploadedImage" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Submit Walk" class="btn btn-info" />
                </div>
                <p>@ViewBag.UserMessage</p>
            </form>
        </div>    </div>
</div>