@page
    <section class="container mt-md-4">
        <h2 class="text-center">This page is broken. Please take a walk while we fix it.</h2>
        <div class="col-md-6 offset-3">
            <div>
                <img src="~/images/brokenbench.png" class="img-broken" />
            </div>
        </div>
    </section>