body {
}

.jumbotron {
    margin-bottom: 0;
}

.container {
    margin-top: 0px !important;
}

.img-responsive {
    width: auto;
}

.img-broken {
    width: 100%;
    height: auto;
}

.img-explore {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.walk-info {
    display: inline-block;
}

.walk-button {
    display: block;
}

.result {
    text-align: center;
    color: green;
}

.register {
    float: right;
}

.backLink {
    display: inline-block
}

.nav-style {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}
.menu-divider {
    color: white;
}

.nav-style-loggedUser {
    color: silver;
    align-self: center;
}

.banner-image {
    width: 100%;
}

.blog-posts {
    margin-top: 50px;
}

.post-content {
    padding: 10px 20px 0px 20px;    
}

.more-posts-btn {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.navbar-brand a {
    color: white;
}