body {
}



.img-responsive {
    width: auto;
}

.img-broken {
    width: 100%;
    height: auto;
}

.img-explore {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.walk-info {
    display: inline-block;
}

.walk-button {
    display: block;
}

.result {
    text-align: center;
    color: green;
}

.register {
    float: right;
}

.backLink {
    display: inline-block
}

.nav-style {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.nav-style-menu {
    justify-content: space-around;
    width: 100%;
}

.nav-style-loggedUser {
    color: silver;
    align-self: center;
}