body {
}



.img-responsive {
    width: auto;
}

.img-broken {
    width: 100%;
    height: auto;
}

.img-explore {
    position: relative;
    float: left;
    max-width: 400px;
    height: 300px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.walk-info {
    display: inline-block;
}

.walk-button {
    display: block;
}

.result {
    text-align: center;
    color: green;
}

.register {
    float: right;
}

.backLink {
    display: inline-block
}