
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Walks And Benches: @ViewBag.Title</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/walks.css" rel="stylesheet" />
</head>
<body>


    <header class="container">
        <nav class="navbar navbar-dark bg-dark">
            <h1 class="navbar-brand">Bench project - a site about walks and benches</h1>
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" asp-controller="App" asp-action="Index">Home</a></li>
                <li class="nav-item"><a class="nav-link" asp-controller="App" asp-action="About">About</a></li>
                <li class="nav-item"><a class="nav-link" asp-controller="SubmitWalk" asp-action="SubmitWalk">Submit Walk</a></li>
                <li class="nav-item"><a class="nav-link" asp-controller="Explore" asp-action="Explore">Explore</a></li>
                @if (this.User.Identity.IsAuthenticated)
                {
                    <li class="nav-item"><a class="nav-link" asp-controller="Account" asp-action="Logout">Logout</a></li>
                    <li class="nav-item"><a class="nav-link" asp-controller="Account" asp-action="Admin">Admin</a></li>
                }
                else
                {
                    <li class="nav-item"><a class="nav-link" asp-controller="Account" asp-action="Login">Login</a></li>
                }
            </ul>
        </nav>
    </header>

    <section class="container mt-md-4">
        <h2 class="text-center mb-md-4">@ViewBag.Title</h2>
        @RenderBody()
    </section>

    <footer class="container">Copyright 2019 bench project</footer>
    
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script scr="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

        <script src="~/js/index.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"></script>
        <script scr="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/index.js"></script>
    </environment>

</body>
</html>